body{background-image: url(images/nkar7.jpg);
  background-repeat: no-repeat;
  background-size:cover; 
  margin: 3px;
  

}



.section{
	
  margin-top: 20vh;
  background-color: white;
  padding-left: 3%;
  margin: 6%;
  
}
.menu{
  background-color: azure;
  list-style-type:none;
  text-decoration: none;
  font-style: oblique;
  display: inline;
  color: rgb(209, 60, 6);
  
}


h2 {
	position: absolute;
	top: 2%;
	transform: translate(calc(50vw - 50%), -55%);
	text-transform: uppercase;
	font-size: 4em;
	font-family: arial;
  font-style:oblique ;
  text-align: center;
  margin-bottom: 5vh;
  background-color: rgb(223, 236, 248);
  border-style: border-box;
  border-radius:  9px;

 
}

h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 1px #050a0cea;
  margin-top: 2%;
}

h2:nth-child(2) {
	color: rgb(7, 117, 160);
	animation: water 6s ease-in-out infinite;
  margin-top: 2%;
}

@keyframes water {
	0%,
	100% {
		clip-path: polygon(0 47%, 8% 36%, 19% 27%, 31% 29%, 42% 45%, 48% 66%, 58% 79%, 76% 79%, 89% 75%, 100% 63%, 100% 100%, 0 100%);
	}

	50% {
		clip-path: polygon(0 64%, 8% 76%, 19% 80%, 31% 78%, 42% 68%, 48% 46%, 58% 30%, 76% 28%, 89% 37%, 100% 48%, 100% 100%, 0 100%);
	}
}
.photo{
    width: 20%;
    height: 20%;
    margin: 5px;
}


    
  
  

p
{
  background-color: rgba(255, 255, 255, 0.103);

}
footer{
  text-align:center;
  font-size:  20px;
  background-color: aliceblue;

}
#eat, #history, #festive{
  font-style: oblique;
  color: rgb(209, 60, 6);
}

